* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --first-color: #4158D0;
    --secondary-color: #C850C0;
    --third-color: #FFCC70;
    --gradient: linear-gradient(90deg, var(--first-color), var(--secondary-color), var(--third-color));
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

html {
    scroll-behavior: smooth;
}

/*navbar*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    background: white;
    box-sizing: border-box;
    transition: 0.5s;
    z-index: 9999;
}

.nav-container {
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.nav-menu {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-menu li {
    list-style: none;
    margin-top: 22px;
}

.nav-menu li a {
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: black;
    padding: 20px;
}

.nav-menu li a:hover {
    color: var(--secondary-color);
    transition: 0.5s;
}

.nav-logo {
    position: relative;
    margin-top: 22px;
    padding: 20px;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: hsla(0, 0%, 100%, 0);
    transition: all 0.2s ease;
}

.nav-logo:active {
    transform: scale(0.96);
}

.nav-logo:before,
.nav-logo:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 60%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.nav-logo:hover:before {
    top: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
      10% 10%, 18% 18%;
    background-position: 50% 120%;
    animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
  
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
  
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.nav-logo:hover::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 50% 0%;
    animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0%;
    }
  
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
    }
  
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

/*hero*/

.hero{
    margin-top: 132px;
}

.hero hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #E9E9E9;
}

.hero-heading-1 {
    font-family: 'Outfit', sans-serif;
    font-size: 110px;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: -40px;
}

.hero-heading-2 {
    font-family: 'Outfit', sans-serif;
    font-size: 110px;
    font-weight: 600;
    background-image: linear-gradient(90deg, var(--first-color) 10%, var(--secondary-color) 35%, var(--third-color) 80%);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 15px;
}

.hero-text {
    font-family: 'Nunito', sans-serif;
    font-size: 26px;
    font-weight: 500;
    color: #7C7C7C;
    margin-bottom: 35px;
}

.btn.btn-primary {
    background-color: black;
    color: white;
    padding: 18px 30px;
    border-radius: 35px;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-weight: 700;
    transition: 0.5s;
    text-decoration: none;
}

.btn.btn-primary:hover {
    color: var(--secondary-color);
}

.hero-image {
    margin-top: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.slider {
    max-height: 680px;
    height: 680px;
    width: 100%;
    max-width: 1920px;
    overflow: hidden;
    position: relative;
    align-items: center;
}

.slide-track {
    width: fit-content;
    display: flex;
    gap: 20px; /* Add 20px gap between frames */
    animation: loop 15s linear infinite;
}

.frame {
    height: 680px;
    width: 325px;
}

.frame1 {
    height: 680px;
    width: 260px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the frame without distortion */
}

.curve {
    position: absolute;
    
}

@keyframes loop {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-30%);
    }
}

.hero-container {
    text-align: center;
    max-width: 1100px;
    margin: 40px auto;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.scroll-down{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;
    transition: transform 1s;
    perspective: 100px;
}

.scroll-down:hover {
    transform: translateZ(20px);
}

/*features*/

.feature-heading {
    font-family: 'Outfit', sans-serif;
    font-size: 64px;
    font-weight: 600;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 40px;
    padding-top: 50px;
}

.upload-zone {
    width: 65%;
    height: 450px;
    background-image: linear-gradient(180deg, var(--first-color) 0%, var(--secondary-color) 80%, var(--third-color) );
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 1100px;
}

.music-icon {
    margin-left: auto;
    margin-right: auto;
    display: block;    
    margin-top: 100px;
    width: 100px;
}

.file-upload {
    display: none;
}

.upload-music {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-self: center;
}

.btn-predict {
    margin-top: 50px;
    background-color: white;
    border-radius: 10px;
    width: 70px;
    height: 70px;
}

.btn-predict:hover {
    background-color: #dee2e6;
    color: white;
    transition: 0.5s;
}

.btn-upload {
    margin-top: 0px;
    border: none;
    width: 70px; 
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 70px;
}


.file-upload {
    display: none; 
}

.upload-label {
    padding: 15px 20px;
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 12px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    font-weight: 600;
    width: 250px;
    margin-top: 50px; 
    height: 70px;
}

.upload-zone p {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: white;
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
}

/* .result-zone {
    width: 65%;
    height: 136px;
    border: 4px solid transparent;
    background: linear-gradient(white, white) padding-box,
              linear-gradient(180deg, var(--secondary-color), var(--third-color)) border-box;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    margin-top: 20px;
    display: flex;
} */

.result-heading {
    font-family: 'Outfit', sans-serif;
    font-size: 34px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px;
}

.color-zone {
    border: 4px solid transparent;
    background: linear-gradient(white, white) padding-box,
              linear-gradient(180deg, var(--secondary-color), var(--third-color)) border-box;
    background-image: linear-gradient(180deg, var(--secondary-color), var(--third-color));
    border-radius: 25px;
    width: 100%;
    height: 128px;
    margin-right: 0px;
    margin-left: auto;
    max-width: 880px;
}

/*aboutus*/

.about-container {
    margin-top: 250px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.about-content-1 {
    text-align: center;
}

.about-heading {
    font-family: 'Outfit', sans-serif;
    font-size: 72px;
    font-weight: 700;
    padding-bottom: 5px;
}

.short-introduction {
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #7C7C7C;
    margin-bottom: 35px;
}

.about-content-2 {
    display: block;
}

.about-content-2-1 {
    display: inline-flex;
    max-width: 500px;
    margin-left: 0px;
    margin-right: auto;
    margin-top: 100px;
    padding: 0;
}

.about-content-2-2 {
    padding: 0;
}

.why-genres {
    font-family: 'Outfit', sans-serif;
    font-size: 36px;
    font-weight: 500;
    margin-right: 10px;
    margin-bottom: 10px;
}

.answer {
    display: block;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}

.about-content-3 {
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 100%;
    max-width: 450px;
    height: 202px;
    margin-left: auto;
    margin-right: 0px;
    padding: auto;
    margin-bottom: 60px;
}


.right-section .about-content-3:hover  {
    background-color: hsl(0, 0%, 100%);
    color: black;
    transition: 0.5s;
    border: 3px solid black;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 400;
    scale: 110%;
}



.question {
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    font-weight: 500;
    padding-top: 25px;
    padding-left:  25px;
    padding-right: 25px;
}

.question-text {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 25px;
}

.about-container-2 {
    display: flex;
}

.left-section {
    flex: 1;
    padding: 20px;
}

.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin-top: 100px;
}

/*footer*/

.footer-container {
    background-color: black;
    color: white;
}

.contact-us {
    font-family: 'Ooutfit', sans-serif;
    font-size: 36px;
    font-weight: 500;
    padding-top: 40px;
    padding-left: 20px;
}

.footer-content {
    max-width: 1100px;
    margin: 0 auto;
}

.footer-text {
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.8;
}

.footer-section {
    display: flex;
}

.footer-content .left-section {
    flex: 1;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.footer-content .right-section {
    flex: 1;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    
}

.footer-logo {
    margin-right: 0px;
    margin-left: auto;
    margin-top: -20px;
     
}

.icon-spacing {
    margin-right: 20px;
    text-decoration: none;
}

.icon-spacing:last-child {
    margin-right: 0px;
}

.hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 5px 0;
    padding: 0;
}

.copyright {
    text-align: center;
    padding: 8px;
    font-family: 'Nunnito', sans-serif;
    font-size: 14px;
    font-weight: 300;
}